<h1 class="input">Some Useful Government Service</h1>

<form class="form-horizontal" name="personForm" ng-submit="submitForm()" novalidate>

  <div class="form-group">
    <label for="name" class="col-xs-2 col-md-1 control-label">Name</label>
    <div class="col-xs-10 col-md-11">
      <input class="form-control" name="name" id="name" ng-model="name" required>
      <span ng-show="personForm.name.$invalid && !personForm.name.$pristine" class="help-block">Name is required.</span>
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-2 col-md-1 control-label">Sex</div>
    <div class="col-xs-10 col-md-11">
      <label class="sex">
        <input type="radio" ng-model="sex" value="Male" required>
        Male
      </label>

      <label class="sex">
        <input type="radio" ng-model="sex" value="Female" required>
        Female
      </label>

      <span ng-show="personForm.sex.$invalid && !personForm.sex.$pristine" class="help-block">Sex is required.</span>

    </div>
  </div>

  <div class="form-group">
    <label for="age" class="col-xs-2 col-md-1 control-label">Age</label>
    <div class="col-xs-10 col-md-11">
      <input class="form-control" name="age" type="number" min="1" max="125" id="age" ng-model="age">

      <span ng-show="personForm.age.$invalid && !personForm.age.$pristine" class="help-block">Age is required.</span>
      <span ng-show="personForm.age.$error.required">Age is required.</span>
      <span ng-show="personForm.age.$error.min" class="help-block">Age should be at least 1.</span>
      <span ng-show="personForm.age.$error.max" class="help-block">Age should be less than 126.</span>
    </div>
  </div>

  <div class="form-group">
    <label for="country" class="col-xs-2 col-md-1 control-label">Country</label>
    <div class="col-xs-10 col-md-11">

      <select ng-model="country" name="country" required>
        <option value="">Choose Country</option>
        <option ng-repeat="country in countries" value="{{country.name}}">{{country.name}}</option>
      </select>

      <span ng-show="personForm.country.$invalid && !personForm.country.$pristine" class="help-block">Country is required.</span>

    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-2 col-md-1 control-label">
      <button type="submit" class="btn btn-default" ng-disabled="personForm.$invalid">Apply</button>
      <span ng-show="personForm.$invalid" class="help-block">Please complete all the fields properly.</span>
    </div>
  </div>
</form>